* {
  box-sizing: border-box;
}

body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/91/Winkel_triple_projection_SW.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
  margin: auto;
  /*position: relative;*/
  display: flex;
  justify-content: center;
}

.page {
  /*margin: auto;*/
  /*position: absolute;*/
  margin-top: 2%;
  /*background-color: red;*/
  /*background: rgba(54, 25, 25, .5);*/
  opacity: .85;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
}

h1 {
  text-align: center;
  /*background: rgba(54, 25, 25, .5);*/
}

[class*="col-"] {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*.voice {
  text-decoration: none;
}*/

[name="voice"], [name="text"], .button{
  -webkit-appearance: none;
  width: 98%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
}

/*.text {
  background-color: blue;
}*/

/*[name="text"] {
  width: 100%;
}*/

/*.buttons {
  background-color: green;
}*/

/*.button {
  padding: 15px 32px;
}*/
